@import "tailwindcss";

/* ============================ TkajUI/Donjon libraries ============================ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@source "../../Style-guite-donjon-fall/src/lib/**/*.{js,jsx}";

/* base styles */
@theme {
    --font-sans: Inter, system-ui, sans-serif;

    /* brand colors */
    --color-brand-500: #6576ff;
    --color-brand-600: #4455ee;
    --color-brand-950: #151a4d;
}

/* base styles for document body */
@layer base {
    body {
        @apply bg-neutral-950 text-neutral-100 font-sans antialiased;
    }
}

/* ================================================================================= */
